@tailwind base;
@tailwind components;
@tailwind utilities;
main .landing .landing-content .landing-links .view-repo-link {
	background-image: url("./images/blue.png");
	background-size: 100% 100%;
}

main .landing .landing-content .landing-links .view-repo-link i {
	margin-top: 2px;
}